html.body{
  font-family: 'Roboto', 'sans-serif';
  height: 100%;

}

body{
  margin: 0;
}


/* For all the headers of each components */


.header mat-divider{
  background-color: #3b3a54;
  height: 2px;
  width: 60%;
}


.content{
  margin-top: 3%;
}


