.primary-card{
  background-color: rgba(24, 28, 47, 0.7);
  width: 26%;
  margin-right: 3%;
  display: flex;

  flex-direction: column;
  align-items: center;

}
.run-button{
  align-items: center;
  width: 8vw;
  height: 8vw;
  background-color: rgb(55, 140, 236);
}
