.primary-card {
  background-color: rgba(24, 28, 47, 0.7);
  box-sizing: border-box;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 40%;
}

.secondary-card {
  background-color: rgba(24, 28, 47, 0.7);

  box-sizing: border-box;
}

.dialog {
  background-color: rgba(24, 28, 47, 0.7);
}
