<div class="header">
  <h1>Analysis</h1>
  <mat-divider></mat-divider>
</div>

<div class="content">
  <mat-card class="primary-card">
    <canvas id="lineChart"></canvas>
  </mat-card>

  <mat-card class="secondary-card">
    <canvas id="doughnutChart" height="54" width="80"></canvas>
  </mat-card>

  <mat-card class="primary-card">
    <canvas id="barChart"></canvas>
  </mat-card>
  <mat-card class="secondary-card">
    <canvas id="radarChart" height="54" width="80"></canvas>
  </mat-card>
</div>
