
<div class="body-div">

<mat-card class = "login-card">

<h2>Login</h2>
<form  (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type = "password" matInput placeholder="">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button mat-raised-button [disabled]="loading" color="accent">Login</button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>

</mat-card>
</div>
