
<div class="body-div">

<mat-card class = "login-card">

<h2>Login</h2>
<form (onsubmit)="onSubmit($event)"  >
    <div class="form-group">
        <label for="username">Username</label>
        <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>        <div  class="invalid-feedback">
            <div>Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type = "password" matInput placeholder="">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>        <div class="invalid-feedback">
            <div>Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button mat-raised-button onClick="onSubmit($event)"color="accent">Login</button>
        <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
    </div>
</form>

</mat-card>
</div>
